<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        .respuesta{
            margin-top: 20px;
            display: inline-flex;
        }

        .respuesta div{
            margin-right: 20px;
            width: 125px;
            height: 125px;
        }

        .respuesta div.digitrue{
            background-color: green;
        }

        .respuesta div.digifalse{
            background-color: red;
        }

        .respuesta div img{
            width: 125px;
            height: 125px;
        }

        .respuesta div h3{
            text-align: center;
        }

        .respuesta div p{
            text-align: center;
            font-weight: bold;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #myUL li{
            border: 1px solid #000000;
            margin-top: -1px;
            background-color: #f6f6f6;
            padding: 5px;
            text-decoration: none;
            font-size: 12px;
            color: black;
            display: none;
            width: 20%;
        }

        #myUL li a:hover:not(.header) {
            background-color: #eee;
        }

    </style>
</head>
<body>
    <header>
        <a href="/digimon"><h1>DigimonDLE</h1></a>
    </header>
    <main>
        <form action="/digimon/buscar" method="post" id="form">
            <p>Adivina el Digimon de hoy</p>
            <input type="text" id="nombre" name="nombre">
            <ul id="myUL">
                <% for(digimon of digimons) { %>
                    <li><%= digimon.nombre %></li>
                <% }%>
            </ul>
            <input type="submit">
        </form>
        <div id="container">
            <% if(respuestas){ %>
                <% for(respuesta of respuestas) { %>
                    <div class="respuesta">
                        <div>
                            <img src="<%= respuesta[0].img %>" alt="digimon">
                        </div>
                        <div class="digi<%= respuesta[0].xAntibody[0] %>">
                            <h3>X Antibody</h3>
                            <p><%= respuesta[0].xAntibody[1] %></p>
                        </div>
                        <div class="digi<%= respuesta[0].level[0] %>">
                            <h3>Nivel</h3>
                            <p><%=respuesta[0].level[1]%></p>
                        </div>
                        <div class="digi<%= respuesta[0].type[0] %>">
                            <h3>Tipo</h3>
                            <p><%=respuesta[0].type[1]%></p>
                        </div>
                        <div class="digi<%= respuesta[0].atributo[0] %>">
                            <h3>Atributo</h3>
                            <p><%=respuesta[0].atributo[1]%></p>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div id="victory">
            <% if(victory){ %>
                <h1>Has ganado</h1>
                <input type="hidden" value="<%=victory%>" id="victoria">
                <form action="/digimon/reset" method="get">
                    <input type="submit" value="Reiniciar" name="reset" id="reset">
                </form>
            <% } %>
        </div>
    </main>
</body>
<script>
    const input = document.getElementById('nombre');
    const ul = document.getElementById("myUL"); 

    input.addEventListener('input', myFunction);

    function myFunction() {
        console.log('lista');
        var filter, li, a, i, txtValue;
        filter = input.value.toUpperCase();
        li = ul.getElementsByTagName('li');
        ul.style.display = "block";
        let cont = 0;
    
        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent;
            if (filter == '') {
                li[i].style.display = 'none';
            }else if(txtValue.toUpperCase().indexOf(filter) > -1){
                if(cont < 10){
                    li[i].style.display = "block";
                    cont++;
                }
            }else {
                li[i].style.display = "none";
            }

            li[i].addEventListener("click", function(e) {
                console.log('Cambio input ' + e.target.textContent);
                let value = e.target.textContent;

                if(value) {
                    input.value = value;
                    e.target.style.display = 'none';
                    e.target.innerHTML = '';
                }
            });
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        console.log('Comprobar victoria')
        const victory = document.getElementById('victoria').value;
        console.log(victory)
        const form = document.getElementById('form');
        
        if(victory == 'true'){
            console.log('Has ganado');
            form.style.display = 'none';
        }
    })
</script>
</html>